
.hole {
  background: url("/hole.png") no-repeat center/contain;
}

.mole {
  background-image: url("/mole.png");
}

body {
  font-family: "Courier New", monospace;
  background: radial-gradient(circle, #111, black);
  color: lime;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1{
  text-align: center;
  margin-bottom: 12px;
  color: lime;
  text-shadow: 0 0 8px lime;
}

h2{
  text-align: center;
  margin-bottom: 12px;
  color: lime;
  text-shadow: 0 0 8px lime;
}

p {
  text-align: center;
  margin-bottom: 16px;
  color: lightgreen;
}

button {
  background: black;
  color: lime;
  border: 3px solid lime;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  text-transform: uppercase;
  box-shadow: 0 0 10px lime;
}

button:hover {
  background: lime;
  color: black;
}


.board {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 16px;
  justify-content: center;
}

.hole {
  width: 120px;
  height: 80px;
  border-radius: 50%;
  background-color: black;
  border: 4px solid limegreen;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.hole.mole {
  background-image: url("/mole.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: 80px;
}
  



